#footer
  background: color-default
  padding: 70px 0
  border-top: 1px solid color-border
  color: color-white
  text-align: center
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-icon
  margin-bottom: 20px
  text-align: center
  a
    float: none
    display: inline
    font-size: 2rem
    &:hover
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.9rem